h1, h2 {
    text-align: center;
}

h1 {
    color: brown;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .aboutme {
    position: absolute;
    top: 8px;
    left: 16px;
  }